<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Request Header Parser Microservice</h1>
    </header>

    <main class="container">
      <section class="description">
        <p>description</p>
      </section>

      <section class="example-usage">
        <h2>Example Usage</h2>
        <ul>
          <li>
            <a href="api/whoami"> http://localhost:3000/api/whoami </a>
          </li>
        </ul>
      </section>

      <section class="output-example">
        <h2>Example Output</h2>
        <pre>
        <code>
  {
    "ipaddress":"::ffff:159.20.14.100",
    "language":"en-US,en;q=0.5",
    "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
  }
        </code>
        </pre>
      </section>
    </main>

    <footer>
      <p>By <a href="https://shariq-dev.netlify.app">Shariq Yousuf</a></p>
    </footer>
  </body>
</html>
